@model ICollection<OnlineMovieTicketBookingApp.Models.Booking>;

@{
    ViewData["Title"] = "View Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .button{
        text-align:center;
    }
</style>
<div style="padding:50px 0px 30px 0px" class="text-center">
    <h3>My Booking</h3>
</div>

<div class="table-responsive-lg">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    Booking Id
                </th>
                <th>
                    Movie Name
                </th>
                <th>
                    Show Date & Time
                </th>
                <th>
                    Ticket Price
                </th>
                <th>
                    Total Ticket(s)
                </th>
                <th>
                    Total Price
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (OnlineMovieTicketBookingApp.Models.Booking item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(Model => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => item.Movie.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => item.Show.Date_And_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => item.Movie.Ticket_Price)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => item.Total_Tickets)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total_Price)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<br /><br />
<div class="button">
    @Html.ActionLink("Return to Profile", "Index", "User")
</div>