@model IEnumerable<OnlineMovieTicketBookingApp.Models.Show>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<style>
    .container{
        position:relative;
        left: 100px;
        top:10px;
    }
</style>


<div class="container">
    <h2> Manage Showtimes</h2>
    <p>
        <a asp-controller="Show" asp-action="Create">Create New</a>
    </p>
    <div class="table-responsive-lg">
        <table class="table table-sm table-hover">
            <thead class="thead-light">
                <tr>
                    <th>
                        Show Id
                    </th>
                    <th>
                        Movie Title
                    </th>
                    <th>
                        Movie Id
                    </th>
                    <th>
                       Show Date & Time
                    </th>

                    <th>
                        Hall Id
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_And_Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hall.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
