@model IEnumerable<OnlineMovieTicketBookingApp.Models.Movie>



@foreach (var item in Model)
{
   @if (item.Status == "Now Showing")
        {
    <div class="card" style="width: 18rem;">
        <div>
            <a href='@Url.Action("Details", "Movie", new { id = item.Id })'>
                <img src=@(item.Poster) class="card-img-top" />
            </a>
        </div>

        <div class="card-body">
            <h5 class="card-title"><b>@item.Title</b></h5>
            <h6 class="card-text"><i>(@item.Age_Rating)</i></h6>
            <p class="card-text">
                @item.Genre
                <br />
                @item.Language
                <br />
                @item.Run_Time minutes
            </p>
            @{ var pageName = "Index";
               var controller = "Booking";
               if (TempData.Peek("CustomerId") == null)
               {
               pageName = "Login";
               controller = "User";
               } }
            @Html.ActionLink("Buy Tickets", pageName, controller, new { movieId = item.Id }, new { @class = "btn btn-warning" })
            @*<button class="btn btn-warning">Buy Tickets</button>*@
        </div>
    </div>

}
}
