@model OnlineMovieTicketBookingApp.Models.Ticket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: black;
    }

    video {
        width: 40%;
        height: auto;
        position: relative;
        left: 50px;
        top: 100px;
    }

    .watch {
        top: 100px;
        position: relative;
        text-align: center;
        width: 600px;
        color: darkgrey;
    }

    .details {
        color: white;
        left: 50px;
        top: 110px;
        position: relative;
        text-align: left;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        width: 600px;
    }

    .label {
        color: darkgrey;
    }
    /*.section{
            position:relative;
            left:100px;
        }*/
</style>


<div>
    <h4>Ticket Details</h4>
    <hr />

    <div class="details">
        <h5>Ticket Details</h5>
        <table>
            <tr>

            <tr>
                <td class="label">Hall Number:        </td>
                <td>@Html.DisplayFor(model => model.hall_number)</td>
            </tr>
            <tr>
                <td class="label">Seat Number: </td>
                <td>@Html.DisplayFor(model => model.seat_number)</td>
                <td> </td>
            <tr>
                <td class="label">Show Time: </td>
                <td>@Html.DisplayFor(model => model.show_datetime)</td>
            </tr>
            <tr>
                <td class="label">Ticket Price: </td>
                <td>@Html.DisplayFor(model => model.ticket_price)</td>
                <td> </td>
            </tr>
        </table>
        <button onclick="location.href='@Url.Action("Index", "Ticket")'" class="btn btn-primary">Go Back</button>
    </div>
</div>